/* MyCalendar.css */
.calendar-container {
  margin-top: 5rem;
  position: absolute;
  margin-left: -48rem;
}

.events-box {
  margin-top: 20px;
}

.events-box h3 {
  margin-bottom: 10px;
}

.events-box ul {
  list-style-type: none;
  padding: 0;
}

.events-box li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.events-box button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.events-box button:hover {
  background-color: #ff1a1a;
}