.PageTitle {
    height: 5vh;
    max-width: 95vw;
    margin: 15px auto;
    padding: 0 1rem;
    border-radius: var(--border-radius-1);
    background-color: var(--clr-primary-4);
    color: #ffffff;
}
.title-text {
    height: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}
.subTitle {
    display: flex;
    align-items: center;
}